apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# Adiciona um sufixo aos nomes para evitar conflitos se estiverem no mesmo cluster
nameSuffix: -dev

# Patch para mudar o Host e o Certificado no Ingress
patchesStrategicMerge:
  - ingress-patch.yaml

# Altera a imagem para a tag específica (o Jenkins pode sobrescrever isso)
images:
  - name: alysongustavo/policy-management-service
    newName: alysongustavo/policy-management-service
    newTag: dev-latest

# Configurações de variáveis de ambiente específicas de DEV
configMapGenerator:
  - name: policy-mgmt-config
    envs:
      - params.properties